In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Create a path to use the csv 
ramen_csv_path = "Resources/ramen-ratings.csv"
happiness_2017_csv_path = "Resources/2017.csv"
happiness_2018_csv_path = "Resources/2018.csv"
happiness_2019_csv_path = "Resources/2019.csv"

In [3]:
# Read into Pandas DataFrame
ramen_data = pd.read_csv(ramen_csv_path)
happiness_2017_data = pd.read_csv(happiness_2017_csv_path)
happiness_2018_data = pd.read_csv(happiness_2018_csv_path)
happiness_2019_data = pd.read_csv(happiness_2019_csv_path)

In [4]:
# Show Ramen Data
ramen_data.head(35)

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
5,2575,Samyang Foods,Kimchi song Song Ramen,Pack,South Korea,4.75,NaN
6,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,Japan,4,NaN
7,2573,Ikeda Shoku,Nabeyaki Kitsune Udon,Tray,Japan,3.75,NaN
8,2572,Ripe'n'Dry,Hokkaido Soy Sauce Ramen,Pack,Japan,0.25,NaN
9,2571,KOKA,The Original Spicy Stir-Fried Noodles,Pack,Singapore,2.5,NaN
10,2570,Tao Kae Noi,Creamy tom Yum Kung Flavour,Pack,Thailand,5,NaN
11,2569,Yamachan,Yokohama Tonkotsu Shoyu,Pack,USA,5,NaN
12,2568,Nongshim,Mr. Bibim Stir-Fried Kimchi Flavor,Pack,South Korea,4.25,NaN
13,2567,Nissin,Deka Buto Kimchi Pork Flavor,Bowl,Japan,4.5,NaN
14,2566,Nissin,Demae Ramen Bar Noodle Aka Tonkotsu Flavour In...,Pack,Hong Kong,5,NaN
15,2565,KOKA,Mushroom Flavour Instant Noodles,Cup,Singapore,3.5,NaN
16,2564,TRDP,Mario Masala Noodles,Pack,India,3.75,NaN
17,2563,Yamachan,Tokyo Shoyu Ramen,Pack,USA,5,NaN
18,2562,Binh Tay,Mi Hai Cua,Pack,Vietnam,4,NaN
19,2561,Paldo,Premium Gomtang,Pack,South Korea,4,NaN
20,2560,Nissin,Cup Noodles Laksa Flavour,Cup,Hong Kong,4.25,NaN
21,2559,Jackpot Teriyaki,Beef Ramen,Pack,USA,5,NaN
22,2558,KOKA,Creamy Soup With Crushed Noodles Hot & Sour Fi...,Cup,Singapore,5,NaN
23,2557,Yamachan,Sapporo Miso Ramen,Pack,USA,4.75,NaN
24,2556,Ching's Secret,Hot Garlic Instant Noodles,Pack,India,4.25,NaN
25,2555,Samyang Foods,Song Song Kimchi Big Bowl,Bowl,South Korea,4.25,NaN
26,2554,Yum-Mie,Instant Noodles Beef In Light Soup Flavour,Pack,Ghana,3.5,NaN
27,2553,Nissin,Hakata Ramen Noodle White Tonkotsu,Bowl,Japan,4.75,NaN
28,2552,MyKuali,Penang White Curry Rice Vermicelli Soup,Bowl,Malaysia,5,NaN
29,2551,KOKA,Signature Tom Yum Flavor Instant Noodles,Pack,Singapore,4,NaN
30,2550,Samyang Foods,Paegaejang Ramen,Pack,South Korea,5,NaN
31,2549,Nissin,Gekikara Ramen Extra Hot Ramen Goreng,Pack,Indonesia,4.5,NaN
32,2548,Ottogi,Plain Instant Noodle No Soup Included,Pack,South Korea,Unrated,NaN
33,2547,Sichuan Guangyou,Chongqing Spicy Hot Noodles,Bowl,China,4,NaN
34,2546,New Touch,Sugo-Men Kyoto Backfat Shoyu Ramen,Bowl,Japan,3.75,NaN

In [5]:
# Get Ramen column names
ramen_column_names = list(ramen_data)
ramen_column_names

['Review #', 'Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten']

In [6]:
# Clean unnecessary columns
clean_ramen_data = ramen_data[['Brand', 'Variety', 'Style', 'Country', 'Stars']]
clean_ramen_data

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75
...,...,...,...,...,...
2575,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5
2576,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1
2577,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2
2578,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2
2579,Westbrae,Miso Ramen,Pack,USA,0.5

In [7]:
# Show Happiness 2017
happiness_2017_data.head(35)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
5,Netherlands,6,7.377,7.427426,7.326574,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662,2.294804
6,Canada,7,7.316,7.384403,7.247597,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,2.187264
7,New Zealand,8,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
8,Sweden,9,7.284,7.344095,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538
9,Australia,10,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211
10,Israel,11,7.213,7.279853,7.146146,1.375382,1.376290,0.838404,0.405989,0.330083,0.085242,2.801757
11,Costa Rica,12,7.079,7.168112,6.989888,1.109706,1.416404,0.759509,0.580132,0.214613,0.100107,2.898639
12,Austria,13,7.006,7.070670,6.941330,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060,2.138506
13,United States,14,6.993,7.074657,6.911343,1.546259,1.419921,0.774287,0.505741,0.392579,0.135639,2.218113
14,Ireland,15,6.977,7.043352,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869
15,Germany,16,6.951,7.005382,6.896619,1.487923,1.472520,0.798951,0.562511,0.336269,0.276732,2.015770
16,Belgium,17,6.891,6.955821,6.826179,1.463781,1.462313,0.818092,0.539771,0.231503,0.251343,2.124210
17,Luxembourg,18,6.863,6.923686,6.802314,1.741944,1.457584,0.845089,0.596628,0.283181,0.318834,1.619512
18,United Kingdom,19,6.714,6.783792,6.644209,1.441634,1.496460,0.805336,0.508190,0.492774,0.265428,1.704144
19,Chile,20,6.652,6.739251,6.564749,1.252785,1.284025,0.819480,0.376895,0.326662,0.082288,2.509586
20,United Arab Emirates,21,6.648,6.722047,6.573952,1.626343,1.266410,0.726798,0.608345,0.360942,0.324490,1.734704
21,Brazil,22,6.635,6.725470,6.544531,1.107353,1.431306,0.616552,0.437454,0.162350,0.111093,2.769267
22,Czech Republic,23,6.609,6.683862,6.534138,1.352682,1.433885,0.754444,0.490946,0.088107,0.036873,2.451862
23,Argentina,24,6.599,6.690085,6.507915,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005
24,Mexico,25,6.578,6.671149,6.484851,1.153184,1.210862,0.709979,0.412730,0.120990,0.132774,2.837155
25,Singapore,26,6.572,6.636723,6.507277,1.692278,1.353814,0.949492,0.549841,0.345966,0.464308,1.216362
26,Malta,27,6.527,6.598397,6.455603,1.343280,1.488412,0.821944,0.588767,0.574731,0.153066,1.556863
27,Uruguay,28,6.454,6.545906,6.362094,1.217560,1.412228,0.719217,0.579392,0.175097,0.178062,2.172410
28,Guatemala,29,6.454,6.566874,6.341126,0.872002,1.255585,0.540240,0.531311,0.283488,0.077223,2.893891
29,Panama,30,6.452,6.557131,6.346870,1.233748,1.373193,0.706156,0.550027,0.210557,0.070984,2.307200
30,France,31,6.442,6.515768,6.368232,1.430923,1.387777,0.844466,0.470222,0.129762,0.172502,2.005955
31,Thailand,32,6.424,6.509117,6.338883,1.127869,1.425792,0.647239,0.580201,0.572123,0.031613,2.039508
32,Taiwan Province of China,33,6.422,6.494596,6.349404,1.433627,1.384565,0.793984,0.361467,0.258360,0.063829,2.126607
33,Spain,34,6.403,6.471055,6.334945,1.384398,1.532091,0.888961,0.408781,0.190134,0.070914,1.927758
34,Qatar,35,6.375,6.568477,6.181523,1.870766,1.274297,0.710098,0.604131,0.330474,0.439299,1.145464

In [8]:
# Show Happiness 2018
happiness_2018_data.head(35)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
5,6,Netherlands,7.441,1.361,1.488,0.878,0.638,0.333,0.295
6,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291
7,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
8,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383
9,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302
10,11,United Kingdom,7.190,1.244,1.433,0.888,0.464,0.262,0.082
11,12,Austria,7.139,1.341,1.504,0.891,0.617,0.242,0.224
12,13,Costa Rica,7.072,1.010,1.459,0.817,0.632,0.143,0.101
13,14,Ireland,6.977,1.448,1.583,0.876,0.614,0.307,0.306
14,15,Germany,6.965,1.340,1.474,0.861,0.586,0.273,0.280
15,16,Belgium,6.927,1.324,1.483,0.894,0.583,0.188,0.240
16,17,Luxembourg,6.910,1.576,1.520,0.896,0.632,0.196,0.321
17,18,United States,6.886,1.398,1.471,0.819,0.547,0.291,0.133
18,19,Israel,6.814,1.301,1.559,0.883,0.533,0.354,0.272
19,20,United Arab Emirates,6.774,2.096,0.776,0.670,0.284,0.186,NaN
20,21,Czech Republic,6.711,1.233,1.489,0.854,0.543,0.064,0.034
21,22,Malta,6.627,1.270,1.525,0.884,0.645,0.376,0.142
22,23,France,6.489,1.293,1.466,0.908,0.520,0.098,0.176
23,24,Mexico,6.488,1.038,1.252,0.761,0.479,0.069,0.095
24,25,Chile,6.476,1.131,1.331,0.808,0.431,0.197,0.061
25,26,Taiwan,6.441,1.365,1.436,0.857,0.418,0.151,0.078
26,27,Panama,6.430,1.112,1.438,0.759,0.597,0.125,0.063
27,28,Brazil,6.419,0.986,1.474,0.675,0.493,0.110,0.088
28,29,Argentina,6.388,1.073,1.468,0.744,0.570,0.062,0.054
29,30,Guatemala,6.382,0.781,1.268,0.608,0.604,0.179,0.071
30,31,Uruguay,6.379,1.093,1.459,0.771,0.625,0.130,0.155
31,32,Qatar,6.374,1.649,1.303,0.748,0.654,0.256,0.171
32,33,Saudi Arabia,6.371,1.379,1.331,0.633,0.509,0.098,0.127
33,34,Singapore,6.343,1.529,1.451,1.008,0.631,0.261,0.457
34,35,Malaysia,6.322,1.161,1.258,0.669,0.356,0.311,0.059

In [9]:
# Show Happiness 2019
happiness_2019_data.head(35)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278
15,16,Ireland,7.021,1.499,1.553,0.999,0.516,0.298,0.310
16,17,Germany,6.985,1.373,1.454,0.987,0.495,0.261,0.265
17,18,Belgium,6.923,1.356,1.504,0.986,0.473,0.160,0.210
18,19,United States,6.892,1.433,1.457,0.874,0.454,0.280,0.128
19,20,Czech Republic,6.852,1.269,1.487,0.920,0.457,0.046,0.036
20,21,United Arab Emirates,6.825,1.503,1.310,0.825,0.598,0.262,0.182
21,22,Malta,6.726,1.300,1.520,0.999,0.564,0.375,0.151
22,23,Mexico,6.595,1.070,1.323,0.861,0.433,0.074,0.073
23,24,France,6.592,1.324,1.472,1.045,0.436,0.111,0.183
24,25,Taiwan,6.446,1.368,1.430,0.914,0.351,0.242,0.097
25,26,Chile,6.444,1.159,1.369,0.920,0.357,0.187,0.056
26,27,Guatemala,6.436,0.800,1.269,0.746,0.535,0.175,0.078
27,28,Saudi Arabia,6.375,1.403,1.357,0.795,0.439,0.080,0.132
28,29,Qatar,6.374,1.684,1.313,0.871,0.555,0.220,0.167
29,30,Spain,6.354,1.286,1.484,1.062,0.362,0.153,0.079
30,31,Panama,6.321,1.149,1.442,0.910,0.516,0.109,0.054
31,32,Brazil,6.300,1.004,1.439,0.802,0.390,0.099,0.086
32,33,Uruguay,6.293,1.124,1.465,0.891,0.523,0.127,0.150
33,34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453
34,35,El Salvador,6.253,0.794,1.242,0.789,0.430,0.093,0.074

In [10]:
# Get Happiness 2017 column names
happiness_2017_column_names = list(happiness_2017_data)
happiness_2017_column_names

['Country',
 'Happiness.Rank',
 'Happiness.Score',
 'Whisker.high',
 'Whisker.low',
 'Economy..GDP.per.Capita.',
 'Family',
 'Health..Life.Expectancy.',
 'Freedom',
 'Generosity',
 'Trust..Government.Corruption.',
 'Dystopia.Residual']

In [11]:
# Get Happiness 2018 column names
happiness_2018_column_names = list(happiness_2018_data)
happiness_2018_column_names

['Overall rank',
 'Country or region',
 'Score',
 'GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption']

In [12]:
# Get Happiness 2019 column names
happiness_2019_column_names = list(happiness_2019_data)
happiness_2019_column_names

['Overall rank',
 'Country or region',
 'Score',
 'GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption']

In [13]:
# Rename Happiness 2017 columns to match Happiness 2018 & Happiness 2019 column names
happiness_2017_data_renamed = happiness_2017_data.rename(columns={"Country" : "Country or region",
                                                                 "Happiness.Rank" : "Overall rank",
                                                                 "Happiness.Score" : "Score",
                                                                 "Health..Life.Expectancy." : "Healthy life expectancy",
                                                                 "Freedom" : "Freedom to make life choices",
                                                                 "Trust..Government.Corruption." : "Perceptions of corruption"})
happiness_2017_data_renamed.head()

,Country or region,Overall rank,Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [14]:
# Clean unnecessary columns
clean_happiness_2017 = happiness_2017_data_renamed[['Overall rank', 'Country or region', 'Score', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']]
clean_happiness_2017.head()

,Overall rank,Country or region,Score,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Norway,7.537,0.796667,0.635423,0.362012,0.315964
1,2,Denmark,7.522,0.792566,0.626007,0.355280,0.400770
2,3,Iceland,7.504,0.833552,0.627163,0.475540,0.153527
3,4,Switzerland,7.494,0.858131,0.620071,0.290549,0.367007
4,5,Finland,7.469,0.809158,0.617951,0.245483,0.382612

In [15]:
# Clean unnecessary columns
clean_happiness_2018 = happiness_2018_data[['Overall rank', 'Country or region', 'Score', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']]
clean_happiness_2018.head()

,Overall rank,Country or region,Score,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,0.874,0.681,0.202,0.393
1,2,Norway,7.594,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,0.927,0.660,0.256,0.357

In [16]:
# Clean unnecessary columns
clean_happiness_2019 = happiness_2019_data[['Overall rank', 'Country or region', 'Score', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']]
clean_happiness_2019.head()

,Overall rank,Country or region,Score,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,0.999,0.557,0.322,0.298